@tailwind base;
@tailwind components;
@tailwind utilities;

/* :root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
} */

/* @media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
} */

body {
  color: rgb(var(--foreground-rgb));
  /* background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb)); */

  background-image: url('/background.svg');
  background-size: cover;
}

header form input,
header form button {
  box-shadow: -1px 4px 14px 4px #0000000F;
  height: 54px;
}

header form input,
.hero h1,
.products,
footer {
  color: #304157;
}

header form [type='submit'] {
  background: url('/search-icon.svg') #4CADCD no-repeat center;
  background-size: 24px;
  width: 54px;
}

.hero h1 {
  font-size: 85px;
  line-height: .95em;
}

.hero .banner {
  background: linear-gradient(90deg, rgba(202, 135, 255, 0.7) 0%, rgba(246, 160, 129, 0.7) 96.92%);
  box-shadow: 0px 4px 13px 3px rgba(48, 65, 87, 0.15);
  font-size: 26px;
}

.hero .image {
  background-image: url('/hero-image.png'), url('/hero-image-shape-1.png'), url('/hero-image-shape-2.png');
  background-position: center center, 20px 385px, right 88px;
  width: 625px;
  height: 565px;
}

@media only screen and (min-width: 1024px) {
  .hero .banner {
    position: relative;
    left: -25px;
  }
  .hero .image {
    right: -55px;
  }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
